body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.center {
  text-align: center;
  margin-top: 20%;
}

.warning {
  color: red;
  animation: blink 1s infinite;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
#screen1 {
  display: none;
}
@keyframes blink {
  50% { opacity: 0; }
}
body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

.center {
  text-align: center;
  margin-top: 20%;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.warning {
  color: red;
  animation: blink 1s infinite;
}

.hidden {
  display: none;
}

/* Loader */
.loader {
  width: 80%;
  height: 20px;
  border: 1px solid white;
  margin: 20px auto;
}

#progress {
  height: 100%;
  width: 0%;
  background: red;
}

@keyframes blink {
  50% { opacity: 0; }
}
